/* Language selector styles */
.dashboard-lang-select {
  position: fixed;
  top: 18px;
  right: 32px;
  z-index: 1000;
  position: absolute;
  background-color: #588157;
  display: flex;
  align-items: center;
  border: 1px solid black;
  gap: 0.5rem;
}

.language-select-counsellor {
  padding: 6px 14px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 1rem;
  top: 5px;
  color: #234F56;
  outline: none;
  box-shadow: 0 1px 4px rgba(0,0,0,0.07);
  transition: border 0.2s;
  
}

.language-select:focus {
  border: 1.5px solid #588157;
}

.language-select-counsellor:hover{
  cursor: pointer;
  background-color: #234F56;
  color: white;
  border: 1px solid white;

}